body
{
    overflow: hidden;
}

*
{
    background-image: url("stars.jpg");
}

#texte_depart
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(58, 58, 184, 0.7);
    font-size: 80px;
    height: 100vh;
    
}